{{!-- display content to dom but hide on Front-End --}}
<div id="paymentsResponse" style="display:none;">{{{response}}}</div>
<div id="clientKey" style="display:none;">{{clientKey}}</div>

{{!-- DOM element of drop-in will be rendered here --}}
<div id="dropin-container"></div>
<script type="text/javascript" src="../payments.js"></script>